include ./head.pug
body
    .parent-container
        .not-found-container
            h2 Error 
            h1 404
            p We looked far and wide but couldn't locate the page you're looking for on our server. It may have been relocated to another url or may have been removed altogether. Tough luck :(