include ./head.pug
body
    include ./header.pug
    include ./notification.pug
    .content.padded
        .panel
            h1.panel-heading Admin Panel
            section#retailers
                .section-heading-container
                    h2.section-heading Manage Retailers
                    hr
                .button-row
                    a(href="list_retailer")
                        i(class="fa-solid fa-list")
                        span List Retailers
                    a(href="list_retailer?edit=true")
                        i(class="fa-solid fa-user-pen")
                        span Edit Retailers
                    a(href="add_retailer")
                        i(class="fa-solid fa-user-plus")
                        span Add Retailer
            section#distributors
                div.section-heading-container
                    h2(class="section-heading") Manage Distributors
                    hr
                div.button-row
                    a(href="list_distributor")
                        i(class="fa-solid fa-truck")
                        span List Distributor
                    a(href="list_distributors?edit=true")
                        i(class="fa-solid fa-truck")
                        span Edit Distributor
                    a(href="add_distributor")
                        i(class="fa-solid fa-truck")
                        span Add Distributor
            section#products
                div.section-heading-container
                    h2.section-heading Manage Products
                    hr
                div.button-row
                    a(href="list_product")
                        i(class="fa-solid fa-box")
                        span List Product
                    a(href="list_product?edit=true")
                        i(class="fa-solid fa-box")
                        span Edit Product
                    a(href="add_product")
                        i(class="fa-solid fa-box")
                        span Add Product
            section#transactions
                div.section-heading-container
                    h2.section-heading Manage Transactions
                    hr
                div.button-row
                    a(href="list_transaction")
                        i(class="fa-solid fa-box")
                        span List Transaction
                    a(href="list_transaction?edit=true")
                        i(class="fa-solid fa-box")
                        span Edit Transaction
                    a(href="add_transaction")
                        i(class="fa-solid fa-box")
                        span Add Transaction
            section#advanced
                div.section-heading-container
                    h2.section-heading Database Settings
                    hr
                div.button-row
                    div.button
                        span Drop Database
                    div.button
                        span Add Admin
                    div.button
                        span Remove Admin