include ./head.pug
body
    include ./header.pug
    include ./notification.pug
    .content.padded.filled
        .panel
            a.panel-link(href="/editor")
                h1.panel-heading
                    i.fa-solid.fa-angle-left
                    span Editor Panel
            h1.section-heading Distributor List
            if distributors.length > 0
                .table
                    .row.header-row
                        .table-head
                            h3.table-data-interior Distributor Name
                        .table-head
                            h3.table-data-interior Phone
                        .table-head
                            h3.table-data-interior Email
                        .table-head
                            h3.table-data-interior Address
                    for distributor of distributors
                        .row.data-row
                            .table-data.table-checkbox-container
                                span #{distributor.name}
                            .table-data
                                p.table-data-interior #{distributor.phone_number}
                            .table-data
                                p.table-data-interior #{distributor.email_address}
                            .table-data
                                p.table-data-interior #{distributor.address}
            else
                h2.message No records found!