include ./head.pug
body
    include ./header.pug
    include ./notification.pug
    .content.padded.filled
        .panel
            a.panel-link(href="/editor")
                h1.panel-heading
                    i.fa-solid.fa-angle-left
                    span Editor Panel
            h1.section-heading Transaction History
            if transactions.length > 0
                .table
                    .row.header-row
                        .table-head
                            h3.table-data-interior TransactionID
                        .table-head
                            h3.table-data-interior Date
                        .table-head 
                            h3.table-data-interior Link
                    for transaction of transactions
                        .row.data-row
                            .table-data
                                p.table-data-interior #{transaction.transaction_id}
                            .table-data
                                p.table-data-interior #{transaction.date}
                            .table-data.table-checkbox-container
                                - link_address = "view_transaction?id=" + transaction.transaction_id
                                a.table-data-interior(href="")
            else
                h2.message No records found!