include ./head_other.pug
body
    include ./header.pug
    include ./notification.pug
    .content.centred
        form.login-form(name="login-form", method="POST", action="/login")
            h1.formheader Sign In
            .input-field
                label(for="username") Username
                input(type="text", name="username", placeholder="ex: johndoe123", required)
            .input-field
                label(for="password") Password
                input(type="password", name="password", placeholder="Enter your password", required)
            button.button(onclick="submitLogin()")
                span Sign In
                i.fa-solid.fa-arrow-right-to-bracket