include ./head.pug
body 
    .parent-container
        form#login-form(name="register-form", method="POST", action="/register")
            h1.form-header Register new user
            select#userselect(name="usertype") Select User
                option(value="Admin") Admin
                option(value="Retailer") Retailer
                option(value="Distributor") Distributor
            .input-wrapper 
                label(for="username") Username
                input(type="text", name="username", placeholder="Enter username")
            .input-wrapper 
                label(for="password") Password
                input(type="password", name="password", placeholder="Enter password")
            .input-wrapper 
                label(for="email") Email
                input(type="email", name="email", placeholder="Enter email address")
            .input-wrapper 
                label(for="phone") Phone
                input(type="phone", name="phone", placeholder="Enter phone number")
            .button-container 
                input(type="submit", value="Register")