table#bill-table
    tr
        th 12 Jun 2022
        th Buyer
        td(colspan=2) 1234
        th Seller
        td(colspan=2) 934
    tr
        th(rowspan=2) Purchase ID
        th(colspan=3) Particulars
        th(colspan=3) Pricing
    tr
        th ID
        th Name
        th Quantity
        th Retail Price
        th Discount
        th Price
    tr
        td 1023124
        td 1234
        td Random Product
        td 120
        td 35
        td 5%
        td 100
    tr
        td 1023124
        td 1234
        td Random Product
        td 120
        td 35
        td 5%
        td 100
    tr
        td 1023124
        td 1234
        td Random Product
        td 120
        td 35
        td 5%
        td 100
    tr
        td 1023124
        td 1234
        td Random Product
        td 120
        td 35
        td 5%
        td 100
    tr
        th(colspan=4) Total
        td 2312
        td 5%
        td 2100